{% extends 'layout.twig' %}

{% block content %}

    <a href="{{ name('logout') }}" class="btn btn-danger"> {{ t('Logout') }}</a>

    {{ form(code) }}

    {{  form(query) }}
    {{  form(del) }}

{% endblock %}
