{% extends 'layout.twig' %}

{% block content %}

    <a href="{{ name('login') }}" class="btn btn-success mb-2"> {{ t('Login') }}</a>
    <a href="{{ name('admin') }}" class="btn btn-danger mb-2"> {{ t('Administration') }}</a>

    {{ form(code) }}

    {{  form(query) }}
    {{  form(del) }}

{% endblock %}